#big-container {
    margin-top: 100px;

    #input-container {
        margin-top: 30px;
    }
}

#my-container {

    width: 300px;
    min-height: 500px;
    
    border: 5px solid rgb(88, 88, 179);

    text-align: center;

}

